<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
</head>
<body>

  <wicket:panel>
    <form wicket:id="form">
      <table>
        <tr>
          <td>
            <select wicket:id="years">
              <option> years </option>
            </select>
          </td>
          <td>
           <select wicket:id="months">
             <option> months </option>
           </select>
          </td>
          <td>
            <select wicket:id="dates">
              <option> dates </option>
            </select>
          </td>
        </tr>
      </table>

    </form>
  </wicket:panel>

</body>
</html>

